# Require c++17 for c++ files.
build --cxxopt='-std=c++17'
build --copt='-Wno-sign-compare'

# Enable Bzlmod, a new external dependency management system. Bzlmod is on by
# default starting in Bazel 7.0.0, but we explicitly enable it here for builds
# using previous versions of Bazel.
common --enable_bzlmod

# Load user-specific configuration, if any.
try-import %workspace%/user.bazelrc
